In [1]:
#######################################################
#######################################################
############    COPYRIGHT - DATA SOCIETY   ############
#######################################################
#######################################################

## INTERMEDIATEPYTHON/FUNCTIONS/INTERMEDIATEPYTHON FUNCTIONS 1 ##

## NOTE: To run individual pieces of code, select the line of code and
##       press ctrl + enter for PCs or command + enter for Macs

In [2]:
# =================================================-
#### Slide 8: User-defined functions in Python  ####


# Define a function that prints the value of `Pi`.
def print_pi():  # <- function name
    print(3.14)  # <- action to perform


print_pi()

3.14

In [4]:
# =================================================-
#### Slide 9: Functions in Python with one or more arguments  ####


# Define a function that prints the value of `Pi`
# and takes a number of decimal points to which we want to round the number.
def print_pi(num_decimals=2):  # <- function name + argument(s)
    pi = 3.14159265359  # <- action to perform
    rounded_pi = round(pi, num_decimals)  # <- action to perform
    print(rounded_pi)  # <- action to perform


# Print value of pi rounded to 4 decimal points.
print_pi()

3.14

In [4]:
from math import pi

In [5]:
from numpy import pi

In [6]:
round(pi, 3)

3.142

In [7]:
# =================================================-
#### Slide 10: Functions in Python that return a value  ####


# Define a function that prints the value of `Pi`,
# takes a number of decimal points to which we want to round the number,
# and returns the value back to us.
def get_pi(num_decimals):  # <- function name + argument(s)
    pi = 3.14159265359  # <- action to perform
    rounded_pi = round(pi, num_decimals)  # <- action to perform
    return rounded_pi  # <- value to return

In [8]:
# =================================================-
#### Slide 11: Functions in Python that return a value (cont'd)  ####

# Return a value of pi rounded to 4 decimal points.
print(get_pi(4))

# Return a value of pi rounded to 4 decimal points.
# Assign it to a variable.
pi_4 = get_pi(4)
print(pi_4)

3.1416
3.1416

In [5]:
# =================================================-
#### Slide 13: Functions in Python: make_full_name  ####


# Define a function that concatenates
# first and last names.
def make_full_name(first_name, last_name):
    full_name = first_name + " " + last_name
    return full_name

In [6]:
# =================================================-
#### Slide 14: Functions in Python: calling a function  ####

# Call the function.
print(make_full_name("Harry", "Potter"))
# Call the function and save
# output to variable.
output_name = make_full_name("Harry", "Potter")
print(output_name)

Harry Potter
Harry Potter

In [9]:
make_full_name("Alfred", "Newman")

'Alfred Newman'

In [21]:
def make_full_name(*args):
    return " ".join(str(a) for a in args)

In [35]:
import numpy as np
arr = np.array([["a"], ["b"]])

In [38]:
arr.shape

(2, 1)

In [39]:
make_full_name(arr)

"[['a']\n ['b']]"

In [40]:
# =================================================-
#### Slide 15: Functions in Python: evaluate_car_price  ####


def evaluate_car_price(price):
    if price > 38000:
        return "Leave the dealership immediately, this is a rip off!"
    elif price > 22000 and price <= 38000:
        return "Take the car and go celebrate, you can afford it!"
    else:
        return "Leave the dealership immediately, this is a scam!"

In [54]:
def evaluate_car_price(price):
    return (
        "Leave the dealership immediately, this is a rip off!" * (expensive := price > 38000)
        + "Take the car and go celebrate, you can afford it!" * (mid := price > 22000 and price <= 38000)
        + "Leave the dealership immediately, this is a scam!" * (not expensive and not mid)
    )

In [56]:
evaluate_car_price(2000)

'Leave the dealership immediately, this is a scam!'

In [12]:
# =================================================-
#### Slide 16: Functions in Python: calling a function  ####

# Let's set the price of a car to $45,000.
price = 45000
action1 = evaluate_car_price(price)
print(action1)

# Let's set the price of a car to $32,000.
price = 32000
action2 = evaluate_car_price(price)
print(action2)

# Let's set the price of a car to $5,000.
price = 5000
action3 = evaluate_car_price(price)
print(action3)

Leave the dealership immediately, this is a rip off!
Take the car and go celebrate, you can afford it!
Leave the dealership immediately, this is a scam!

In [13]:
def snake_case():
    pass


class CamelCase:
    def snake_case(self):
        pass


snake_case()

cc = CamelCase()
cc.snake_case()

In [58]:
# =================================================-
#### Slide 19: Functions that return two or more values (cont'd)  ####

# Let's define a dictionary with sales data.
year_sales = {
    "January": 1045,
    "February": 1008,
    "March": 1025,
    "April": 1080,
    "May": 1100,
    "June": 1050,
    "July": 1050,
    "August": 950,
    "September": 1010,
    "October": 1500,
    "November": 1450,
    "December": 1380,
}

In [59]:
# =================================================-
#### Slide 17: Functions that return two or more values  ####


def most_profitable_month(sales_data):
    biggest_amt = 0
    biggest_month = None

    for month, amt in sales_data.items():
        if amt >= biggest_amt:
            biggest_amt = amt
            biggest_month = month

    return biggest_month, biggest_amt


# Assign output of function to variables in correct order.
best_sales_month, best_sales_amt = most_profitable_month(year_sales)
print("Best month:", best_sales_month)
print("Best amount:", best_sales_amt)

Best month: October
Best amount: 1500

In [63]:
def most_profitable_month(d):
    top_month = max(d, key=d.get)
    return top_month, d[top_month]

In [64]:
best_sales_month, best_sales_amt = most_profitable_month(year_sales)
print("Best month:", best_sales_month)
print("Best amount:", best_sales_amt)

Best month: October
Best amount: 1500

In [67]:
year_sales.items()

dict_items([('January', 1045), ('February', 1008), ('March', 1025), ('April', 1080), ('May', 1100), ('June', 1050), ('July', 1050), ('August', 950), ('September', 1010), ('October', 1500), ('November', 1450), ('December', 1380)])

In [18]:
def most_profitable_month(d):
    return max(d.items(), key=lambda x: x[1])

In [68]:
def least_profitable_month(d):
    return min(d.items(), key=lambda x: x[1])

In [69]:
least_profitable_month(year_sales)

('August', 950)

In [19]:
most_profitable_month(year_sales)

('October', 1500)

In [108]:
min(year_sales.items())

('April', 1080)

In [94]:
def rank_months(d, descending=True, n=3):
    return sorted(d.items(), key=lambda x: x[1], reverse=descending)[:n]

In [110]:
def increment(x):
    return x + 1

In [157]:
increment = lambda x: (x, x + 1)

In [158]:
increment(3)

(3, 4)

In [ ]:
months = {
}

In [113]:
len(rank_months(year_sales, True, -5))

7

In [103]:
def myget(x):
    return x[1]

In [104]:
myget.__name__

'myget'

In [100]:
myget = lambda x: x[1]

In [102]:
myget.__name__

'<lambda>'

In [159]:
year_sales.keys()

dict_keys(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

In [20]:
def most_profitable_months(d, n=3):
    return sorted(d.items(), key=lambda x: x[1], reverse=True)[:n]

In [21]:
most_profitable_months(year_sales)

[('October', 1500), ('November', 1450), ('December', 1380)]

In [22]:
tm = sorted(year_sales, key=year_sales.get, reverse=True)[0]
tv = year_sales.get(tm)
print("Best month:", tm)
print("Best amount:", tv)

tm = max(year_sales, key=year_sales.get)
tv = year_sales.get(tm)
print("Best month:", tm)
print("Best amount:", tv)

tm, tv = sorted(year_sales.items(), key=lambda x: x[1], reverse=True)[0]
print("Best month:", tm)
print("Best amount:", tv)

tm, tv = max(year_sales.items(), key=lambda x: x[1])
print("Best month:", tm)
print("Best amount:", tv)

Best month: October
Best amount: 1500
Best month: October
Best amount: 1500
Best month: October
Best amount: 1500
Best month: October
Best amount: 1500

In [23]:
# =================================================-
#### Slide 20: Passing a list as an argument  ####


# Define a function that returns the length of all character strings in a list.
def calculate_lengths(list_of_strings):
    # Define an empty list to store the result.
    lengths = []
    # Use a for loop to access items in the input list.
    for item in list_of_strings:
        lengths.append(len(item))

    return lengths


result = calculate_lengths(["Monday", "Tuesday", "Saturday"])
print(result)

[6, 7, 8]

In [24]:
result = [len(x) for x in ["Monday", "Tuesday", "Saturday"]]
print(result)

[6, 7, 8]

In [25]:
result = map(len, ["Monday", "Tuesday", "Saturday"])
print(result)

<map object at 0x1143a8850>

In [26]:
# =================================================-
#### Slide 21: Functions that have default arguments  ####


def most_profitable_month(sales_data, verbose=True):
    biggest_amt = 0
    biggest_month = None

    for month, amt in sales_data.items():
        if amt >= biggest_amt:
            biggest_amt = amt
            biggest_month = month

    if verbose:
        print(
            "The best sales month was",
            biggest_month,
            "with amount sold equal to",
            biggest_amt,
        )

    return (biggest_month, biggest_amt)

In [27]:
# =================================================-
#### Slide 22: Functions that have default arguments (cont'd)  ####

# Assign output of function to variables in correct order.
best_sales_month, best_sales_amt = most_profitable_month(year_sales)
# Assign output of function to variables in correct order.
best_sales_month, best_sales_amt = most_profitable_month(year_sales, False)
print("Best month:", best_sales_month, "Best amount:", best_sales_amt)

The best sales month was October with amount sold equal to 1500
Best month: October Best amount: 1500

In [117]:
months = [
    "January",
    "February",
    "March",
    "April",
    "May",
    "June",
    "July",
    "August",
    "September",
    "October",
    "November",
    "December",
]

In [121]:
dict(enumerate(months))

{0: 'January',
 1: 'February',
 2: 'March',
 3: 'April',
 4: 'May',
 5: 'June',
 6: 'July',
 7: 'August',
 8: 'September',
 9: 'October',
 10: 'November',
 11: 'December'}

In [128]:
month_dict = {v: k + 1 for k, v in enumerate(months)}

In [129]:
month_dict

{'January': 1,
 'February': 2,
 'March': 3,
 'April': 4,
 'May': 5,
 'June': 6,
 'July': 7,
 'August': 8,
 'September': 9,
 'October': 10,
 'November': 11,
 'December': 12}

In [132]:
from datetime import datetime

In [138]:
datetime(2023, 3, 1) > datetime(2023, 2, 1)

True

In [140]:
year_sales

{'January': 1045,
 'February': 1008,
 'March': 1025,
 'April': 1080,
 'May': 1100,
 'June': 1050,
 'July': 1050,
 'August': 950,
 'September': 1010,
 'October': 1500,
 'November': 1450,
 'December': 1380}

In [139]:
{datetime(2023, 1, 1): 1045}

{datetime.datetime(2023, 1, 1, 0, 0): 1045}

In [152]:
dt_sales = {
    datetime(2023, 1, 1): 1045,
    datetime(2023, 3, 1): 1025,
    datetime(2023, 5, 1): 1100,
    datetime(2023, 4, 1): 1080,
    datetime(2023, 7, 1): 1050,
    datetime(2023, 6, 1): 1050,
    datetime(2023, 8, 1): 950,
    datetime(2023, 10, 1): 1500,
    datetime(2023, 9, 1): 1010,
    datetime(2023, 12, 1): 1380,
    datetime(2023, 11, 1): 1450,
    datetime(2023, 11, 1): 2450,
    datetime(2023, 11, 1): 3450,
    datetime(2023, 2, 1): 1008,
}

In [153]:
sorted(dt_sales.items())

[(datetime.datetime(2023, 1, 1, 0, 0), 1045),
 (datetime.datetime(2023, 2, 1, 0, 0), 1008),
 (datetime.datetime(2023, 3, 1, 0, 0), 1025),
 (datetime.datetime(2023, 4, 1, 0, 0), 1080),
 (datetime.datetime(2023, 5, 1, 0, 0), 1100),
 (datetime.datetime(2023, 6, 1, 0, 0), 1050),
 (datetime.datetime(2023, 7, 1, 0, 0), 1050),
 (datetime.datetime(2023, 8, 1, 0, 0), 950),
 (datetime.datetime(2023, 9, 1, 0, 0), 1010),
 (datetime.datetime(2023, 10, 1, 0, 0), 1500),
 (datetime.datetime(2023, 11, 1, 0, 0), 3450),
 (datetime.datetime(2023, 12, 1, 0, 0), 1380)]

In [131]:
sorted(year_sales.items(), key=lambda x: month_dict[x[0]])

[('January', 1045),
 ('February', 1008),
 ('March', 1025),
 ('April', 1080),
 ('May', 1100),
 ('June', 1050),
 ('July', 1050),
 ('August', 950),
 ('September', 1010),
 ('October', 1500),
 ('November', 1450),
 ('December', 1380)]

In [28]:
# =================================================-
#### Slide 24: Anonymous functions: syntax  ####

print((lambda v: v + " the 5th of November!")("Remember"))

Remember the 5th of November!

In [29]:
# =================================================-
#### Slide 25: Anonymous functions with multiple arguments  ####

remember = lambda v: v + " the 5th of November!"
print(remember("Remember"))
y = lambda a, b: a + b
print(y(765, -987))

Remember the 5th of November!
-222

In [30]:
sum([1, 2, 3])

6

In [31]:
def my_sum(*args):
    return sum(args)

In [32]:
my_sum(1, 2, 3, 4, 5)

15

In [33]:
my_sum(*[1, 2, 3])

6

In [34]:
# =================================================-
#### Slide 26: Function within another function  ####


# Define a function to check if a number is even or odd.
def even_odd(num):
    if num % 2 == 0:  # <- % is the Modulo operator.
        result = "Even"
    else:
        result = "Odd"
    return result


# Define a function to print if each element of a list is even or odd.
def even_odd_list(numbers):
    for num in numbers:
        result = even_odd(num)  # <- Call function on num an assign its result
        print(num, ": ", result, end=" | ")


even_odd_list([22, 41, 16, 13])

22 :  Even | 41 :  Odd | 16 :  Even | 13 :  Odd |

In [160]:
numbers = [22, 41, 16, 13]
{num: "Odd" if num % 2 else "Even" for num in numbers}

{22: 'Even', 41: 'Odd', 16: 'Even', 13: 'Odd'}

In [161]:
numbers = range(99)
{num: "Odd" if num % 2 else "Even" for num in numbers}

{0: 'Even',
 1: 'Odd',
 2: 'Even',
 3: 'Odd',
 4: 'Even',
 5: 'Odd',
 6: 'Even',
 7: 'Odd',
 8: 'Even',
 9: 'Odd',
 10: 'Even',
 11: 'Odd',
 12: 'Even',
 13: 'Odd',
 14: 'Even',
 15: 'Odd',
 16: 'Even',
 17: 'Odd',
 18: 'Even',
 19: 'Odd',
 20: 'Even',
 21: 'Odd',
 22: 'Even',
 23: 'Odd',
 24: 'Even',
 25: 'Odd',
 26: 'Even',
 27: 'Odd',
 28: 'Even',
 29: 'Odd',
 30: 'Even',
 31: 'Odd',
 32: 'Even',
 33: 'Odd',
 34: 'Even',
 35: 'Odd',
 36: 'Even',
 37: 'Odd',
 38: 'Even',
 39: 'Odd',
 40: 'Even',
 41: 'Odd',
 42: 'Even',
 43: 'Odd',
 44: 'Even',
 45: 'Odd',
 46: 'Even',
 47: 'Odd',
 48: 'Even',
 49: 'Odd',
 50: 'Even',
 51: 'Odd',
 52: 'Even',
 53: 'Odd',
 54: 'Even',
 55: 'Odd',
 56: 'Even',
 57: 'Odd',
 58: 'Even',
 59: 'Odd',
 60: 'Even',
 61: 'Odd',
 62: 'Even',
 63: 'Odd',
 64: 'Even',
 65: 'Odd',
 66: 'Even',
 67: 'Odd',
 68: 'Even',
 69: 'Odd',
 70: 'Even',
 71: 'Odd',
 72: 'Even',
 73: 'Odd',
 74: 'Even',
 75: 'Odd',
 76: 'Even',
 77: 'Odd',
 78: 'Even',
 79: 'Odd',
 80: 'Even',
 81: 'Odd',
 82: 'Even',
 83: 'Odd',
 84: 'Even',
 85: 'Odd',
 86: 'Even',
 87: 'Odd',
 88: 'Even',
 89: 'Odd',
 90: 'Even',
 91: 'Odd',
 92: 'Even',
 93: 'Odd',
 94: 'Even',
 95: 'Odd',
 96: 'Even',
 97: 'Odd',
 98: 'Even'}

In [37]:
def fizzbuzz(x):
    result = "fizz" * (x % 3 == 0) + "buzz" * (x % 5 == 0)
    return result if result else str(x)

In [38]:
[
    result if (result := "fizz" * (x % 3 == 0) + "buzz" * (x % 5 == 0)) else str(x)
    for x in numbers
    if x
]

['1',
 '2',
 'fizz',
 '4',
 'buzz',
 'fizz',
 '7',
 '8',
 'fizz',
 'buzz',
 '11',
 'fizz',
 '13',
 '14',
 'fizzbuzz',
 '16',
 '17',
 'fizz',
 '19',
 'buzz',
 'fizz',
 '22',
 '23',
 'fizz',
 'buzz',
 '26',
 'fizz',
 '28',
 '29',
 'fizzbuzz',
 '31',
 '32',
 'fizz',
 '34',
 'buzz',
 'fizz',
 '37',
 '38',
 'fizz',
 'buzz',
 '41',
 'fizz',
 '43',
 '44',
 'fizzbuzz',
 '46',
 '47',
 'fizz',
 '49',
 'buzz',
 'fizz',
 '52',
 '53',
 'fizz',
 'buzz',
 '56',
 'fizz',
 '58',
 '59',
 'fizzbuzz',
 '61',
 '62',
 'fizz',
 '64',
 'buzz',
 'fizz',
 '67',
 '68',
 'fizz',
 'buzz',
 '71',
 'fizz',
 '73',
 '74',
 'fizzbuzz',
 '76',
 '77',
 'fizz',
 '79',
 'buzz',
 'fizz',
 '82',
 '83',
 'fizz',
 'buzz',
 '86',
 'fizz',
 '88',
 '89',
 'fizzbuzz',
 '91',
 '92',
 'fizz',
 '94',
 'buzz',
 'fizz',
 '97',
 '98']

In [39]:
[
    result if (result := "fizz" * (not x % 3) + "buzz" * (not x % 5)) else str(x)
    for x in numbers
    if x
]

['1',
 '2',
 'fizz',
 '4',
 'buzz',
 'fizz',
 '7',
 '8',
 'fizz',
 'buzz',
 '11',
 'fizz',
 '13',
 '14',
 'fizzbuzz',
 '16',
 '17',
 'fizz',
 '19',
 'buzz',
 'fizz',
 '22',
 '23',
 'fizz',
 'buzz',
 '26',
 'fizz',
 '28',
 '29',
 'fizzbuzz',
 '31',
 '32',
 'fizz',
 '34',
 'buzz',
 'fizz',
 '37',
 '38',
 'fizz',
 'buzz',
 '41',
 'fizz',
 '43',
 '44',
 'fizzbuzz',
 '46',
 '47',
 'fizz',
 '49',
 'buzz',
 'fizz',
 '52',
 '53',
 'fizz',
 'buzz',
 '56',
 'fizz',
 '58',
 '59',
 'fizzbuzz',
 '61',
 '62',
 'fizz',
 '64',
 'buzz',
 'fizz',
 '67',
 '68',
 'fizz',
 'buzz',
 '71',
 'fizz',
 '73',
 '74',
 'fizzbuzz',
 '76',
 '77',
 'fizz',
 '79',
 'buzz',
 'fizz',
 '82',
 '83',
 'fizz',
 'buzz',
 '86',
 'fizz',
 '88',
 '89',
 'fizzbuzz',
 '91',
 '92',
 'fizz',
 '94',
 'buzz',
 'fizz',
 '97',
 '98']

In [40]:
1 or ""

1

- or: gives LHS if truthy, else RHS

In [41]:
def func():
    pass

In [42]:
lambda x: x

In [43]:
x = 4
x

4

In [44]:
if x:
    ...
else:
    ...

In [45]:
... if x else ...

Ellipsis

In [183]:
x = 15

In [184]:
"fizz" * (not x % 3)

'fizz'

In [185]:
"buzz" * (not x % 5)

'buzz'

In [187]:
"" or str(x)

'15'

In [163]:
[
    "fizz" * (not x % 3)
    + "buzz" * (not x % 5)
    or str(x)
    for x in range(20)
    if x
]

['1',
 '2',
 'fizz',
 '4',
 'buzz',
 'fizz',
 '7',
 '8',
 'fizz',
 'buzz',
 '11',
 'fizz',
 '13',
 '14',
 'fizzbuzz',
 '16',
 '17',
 'fizz',
 '19']

In [47]:
def fizzbuzz(num):
    return "fizz" * (not num % 3) + "buzz" * (not num % 5) or str(num) if num else str(num)

In [48]:
[fizzbuzz(i) for i in range(16)]

['0',
 '1',
 '2',
 'fizz',
 '4',
 'buzz',
 'fizz',
 '7',
 '8',
 'fizz',
 'buzz',
 '11',
 'fizz',
 '13',
 '14',
 'fizzbuzz']

In [49]:
def fizzbuzz(nums):
        return [result if x and (result := "fizz" * (not x % 3) + "buzz" * (not x % 5)) else str(x) for x in nums]

In [50]:
def fizzbuzz(nums):
        return ["fizz" * (not x % 3) + "buzz" * (not x % 5) or str(x) if x else str(x) for x in nums]

In [51]:
fizzbuzz(range(16))

['0',
 '1',
 '2',
 'fizz',
 '4',
 'buzz',
 'fizz',
 '7',
 '8',
 'fizz',
 'buzz',
 '11',
 'fizz',
 '13',
 '14',
 'fizzbuzz']

In [52]:
# =================================================-
#### Slide 28: Exercise   ####


#######################################################
####  CONGRATULATIONS ON COMPLETING THIS MODULE!   ####
#######################################################